In [1]:
import pandas as pd
import numpy as np
import sqlite3
import os

# 1. Setup Directories (Simulating a real environment)
os.makedirs('data/raw', exist_ok=True)
os.makedirs('data/processed', exist_ok=True)
os.makedirs('data/output', exist_ok=True)

# 2. EXTRACT: Load Raw Data
# (Assuming you uploaded SampleSuperstore.csv to Colab root)
raw_file_path = 'SampleSuperstore.csv'
df_raw = pd.read_csv(raw_file_path)

# Save a copy to 'raw' folder for audit trails
df_raw.to_csv('data/raw/raw_superstore.csv', index=False)

print(f"EXTRACT COMPLETE: Loaded {len(df_raw)} rows.")
df_raw.head(3)

EXTRACT COMPLETE: Loaded 9994 rows.

,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.96,2,0.0,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.94,3,0.0,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.62,2,0.0,6.8714

In [5]:
# 1. Standardize Column Names (Lowercase + Underscores)
df_clean = df_raw.copy()
df_clean.columns = df_clean.columns.str.replace(' ', '_').str.replace('-', '_').str.lower()

# 2. Handle Duplicates
initial_count = len(df_clean)
df_clean = df_clean.drop_duplicates()
print(f"Dropped {initial_count - len(df_clean)} duplicate rows.")

# 3. Handle Missing Values (Imputation)
# If 'postal_code' is missing, fill with 0 (since it's not math-heavy)
if 'postal_code' in df_clean.columns:
    df_clean['postal_code'] = df_clean['postal_code'].fillna(0).astype(str)

# 4. Feature Engineering (Derived Columns)
# Calculate Profit Margin
df_clean['profit_margin'] = (df_clean['profit'] / df_clean['sales']).round(4)

# Create a "High Value Customer" flag (e.g., Sales > 500)
df_clean['is_high_value'] = np.where(df_clean['sales'] > 500, True, False)

print("TRANSFORM PART 1 COMPLETE: Cleaning & Features Done.")
df_clean[['sales', 'profit', 'profit_margin', 'is_high_value']].head()

Dropped 17 duplicate rows.
TRANSFORM PART 1 COMPLETE: Cleaning & Features Done.

      sales    profit  profit_margin  is_high_value
0  261.9600   41.9136         0.1600          False
1  731.9400  219.5820         0.3000           True
2   14.6200    6.8714         0.4700          False
3  957.5775 -383.0310        -0.4000           True
4   22.3680    2.5164         0.1125          False

In [7]:
print(df_clean.columns.tolist())

['ship_mode', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'category', 'sub_category', 'sales', 'quantity', 'discount', 'profit', 'profit_margin', 'is_high_value']

In [8]:
import pandas as pd
import numpy as np
import sqlite3

# --- RESCUE SCRIPT FOR TASK 14 ---

# 1. Try to reload the data
try:
    # Try loading the original file again to see if we can get the IDs back
    df_clean = pd.read_csv('SampleSuperstore.csv')

    # Clean headers immediately
    df_clean.columns = (df_clean.columns
                        .str.strip()
                        .str.lower()
                        .str.replace(' ', '_')
                        .str.replace('-', '_'))
    print("Reloaded original file successfully.")
except:
    # If reload fails, use the current dataframe but valid variables must exist
    print("Could not reload file. Using current data...")

# 2. CHECK & FIX MISSING COLUMNS
# If 'customer_name' is missing, we will create it (Synthetic Data)
if 'customer_name' not in df_clean.columns:
    print("⚠️ Missing Customer Names! Generating fake customers...")
    df_clean['customer_name'] = ["Customer_" + str(i) for i in range(len(df_clean))]

# If 'customer_id' is missing, generate it
if 'customer_id' not in df_clean.columns:
    print("⚠️ Missing Customer IDs! Generating fake IDs...")
    df_clean['customer_id'] = ["C-" + str(i) for i in range(len(df_clean))]

# If 'order_id' is missing, generate it
if 'order_id' not in df_clean.columns:
    print("⚠️ Missing Order IDs! Generating fake IDs...")
    df_clean['order_id'] = ["ORD-" + str(i) for i in range(len(df_clean))]

# If 'product_id' is missing, generate it
if 'product_id' not in df_clean.columns:
    print("⚠️ Missing Product IDs! Generating fake IDs...")
    df_clean['product_id'] = ["PROD-" + str(i) for i in range(len(df_clean))]

# 3. Add Calculated Columns (Feature Engineering)
if 'profit' in df_clean.columns and 'sales' in df_clean.columns:
    df_clean['profit_margin'] = (df_clean['profit'] / df_clean['sales']).round(4)
    df_clean['is_high_value'] = np.where(df_clean['sales'] > 500, True, False)

# 4. SPLIT THE TABLES (Now safe because IDs definitely exist)
print("Splitting tables...")

# Create Customers Table
df_customers = df_clean[['customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'region', 'postal_code']].drop_duplicates(subset=['customer_id'])

# Create Products Table (Handle missing product columns if necessary)
product_cols = ['product_id', 'category', 'sub_category']
if 'product_name' in df_clean.columns:
    product_cols.append('product_name')
df_products = df_clean[product_cols].drop_duplicates(subset=['product_id'])

# Create Orders Table
order_cols = ['order_id', 'customer_id', 'product_id', 'sales', 'quantity', 'discount', 'profit', 'profit_margin', 'is_high_value']
# Only keep columns that actually exist
order_cols = [c for c in order_cols if c in df_clean.columns]
df_orders = df_clean[order_cols]

print(f"✅ SUCCESS! Created 3 Tables:")
print(f"   - Customers: {len(df_customers)} rows")
print(f"   - Products: {len(df_products)} rows")
print(f"   - Orders: {len(df_orders)} rows")

# 5. LOAD TO DATABASE
conn = sqlite3.connect('superstore_dw.sqlite')
df_customers.to_sql('dim_customers', conn, if_exists='replace', index=False)
df_products.to_sql('dim_products', conn, if_exists='replace', index=False)
df_orders.to_sql('fact_orders', conn, if_exists='replace', index=False)
conn.close()

print("✅ LOAD COMPLETE: Database 'superstore_dw.sqlite' created.")

Reloaded original file successfully.
⚠️ Missing Customer Names! Generating fake customers...
⚠️ Missing Customer IDs! Generating fake IDs...
⚠️ Missing Order IDs! Generating fake IDs...
⚠️ Missing Product IDs! Generating fake IDs...
Splitting tables...
✅ SUCCESS! Created 3 Tables:
   - Customers: 9994 rows
   - Products: 9994 rows
   - Orders: 9994 rows
✅ LOAD COMPLETE: Database 'superstore_dw.sqlite' created.